<div class="container">
	<div class="image">
		<!-- Burger image from http://www.clker.com/clipart-burger-with-space-1.html -->
		<img class="img-responsive" src="assets/img/burger.png" alt="Burger with space for text"/>
		<h1>Nom-Nom Burger</h1>
	</div>


	<div id="burger-menu">
		<div class="col-sm-5 col-sm-offset-1 text-center">
			<h2>Burgers to eat</h2>
			
			{{#each burgers}}
			  {{#unless this.devoured}}
				<div class="new-burgers col-sm-8">
				{{this.id}}. {{this.burger_name}}
				</div>

				<div class="col-sm-3">
				<form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
					<input type="hidden" name="devoured" value="true">
					<button type="submit">Devour It!</button>
				</form>
				</div>
			  {{/unless}}			
			{{/each}}
			
		</div>

		<div class="col-sm-4 text-center">
		<h2>Done burgers</h2>
			{{#each burgers}}
			  {{#if this.devoured}}
				<div class="done-burgers col-sm-8">
				{{this.id}}. {{this.burger_name}}
				</div>				
			  {{/if}}
			{{/each}}

		</div>

		<div class="add-burger clearfix col-sm-8 col-sm-offset-2 text-center">

			<h2>Add a burger</h2>
			<form class="create-update-form" action="burgers/create" method="POST">

				<div class="form-group">
					<label for="burgerName">Burger Name:</label>
					<input type="text" id="burgerName" name="name">
				</div>

				<button type="submit">Add Burger</button>
			</form>

		</div>
	</div>
</div>